.getInTouch {
  background-image: url("../../images/bgGet-min.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 120px 0 231px;
  margin-bottom: -1px;
}
.getInTouch__row {
  display: flex;
  flex-direction: column;
  font-family: "OpenSans";
  text-align: center;
}
.getInTouch__title {
  color: #48555b;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  margin-bottom: 32px;
}
.getInTouch__button {
  width: 150px;
  height: 40px;
  background: #00a4e5;
  color: #fff;
  margin: 0 auto;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 400px) {
  .getInTouch__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
